.home {
    display: flex;
    align-items: center;
    height: 100vh;
}

.hero-image{
    margin:20px;
    margin-right: 60px; 
}

img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgb(45, 49, 48);
    height: 35em;
}

.greeting{
    margin: 0 50px;
    line-height: 50px;
    border: 1px solid red;
}

.greeting h3{
    font-size: xx-large;
}

.greeting h1{
    font-size: xxx-large;
}

.greeting p{
    font-size: x-large;
}

.navigation{
    border: 1px solid red;

}

ul {
    list-style-type: none;
}


a{
    text-decoration: none;
}

li.icon-box{
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
}

/* li{
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px solid white;
    border-radius: 50%;
    margin: 20px;
    background-color: antiquewhite;
    overflow: hidden;
}

li:hover{
    background-color: rgb(48, 192, 197);
}

.icons{
    color: gray;
    padding: 15px;
    font-size: large;
}

.icons:hover{
    color:white;
    transition: 0.8s;
}
 */
