.top-container{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.top-container h2{
    font-size: 56px;
    font-weight: 900;
    color: gray;   
}

.top-container span{
    font-size: 100px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 28%;
    text-transform: uppercase;
    font-weight: 800;
    color: rgba(30, 37, 48, 0.07);
}

.middle-container{
    display:flex;
}

.middle-container .left-container{
    /* border:1px solid red; */
    width: 50%;
    margin: 20px;
    font-size: x-large;
    line-height: 2;
    color: rgb(121, 8, 8);
    border-right: 3px solid rgba(30, 37, 48, 0.07);
}

.middle-container .right-container{
    /* border:1px solid red; */
    width: 50%;
    margin: 20px;
    font-size: x-large;
    line-height: 2;
    color: rgb(121, 8, 8);
}

.middle-container span{
    font-size: larger;
    color:rgb(133, 39, 15)
}

.middle-container .right-container {
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
}

.middle-container .right-container .left-side{
    /* border: 3px solid red; */
}

.middle-container .right-container .right-side{
    margin-left: 30px;
}

.middle-container .right-container .right-side li{
    display: flex;
    margin: 25px;
    /* border: 1px solid red; */
    justify-content: left;
    align-items: center;
    font-size: xx-large;
}

.middle-container .right-container .right-side li :hover{
    color: rgba(0, 0, 0, 0.582)
}

.middle-container .right-container .right-side a {
    text-decoration: none;
    color: darkgray;
}

.aboutIcon{
    margin: 10px;
    color: darkgrey;
}

.linkedin{
    color:#2867B2;
}

.github{
    color:#24292e;
}

.twitter {
    color:#1DA1F2;
}

.bottom-container{
    text-align: center;
}

.bottom-container h2 {
    font-size: 40px;
    font-weight: 800;
    color: gray; 
    margin-bottom: 15px;  
}